<!--
  Generated template for the ListJadwalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lecturer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-item text-center style="background: transparent;">
    <h1>Daftar Jadwal</h1>
    <br>
    <ion-searchbar></ion-searchbar>
    <br>
    <ion-list no-lines>
      <ion-item-sliding (click)="detailMhs()">
        <ion-item>
          <h2>Nama</h2>
          <h2>Tanggal</h2>
        </ion-item>
      </ion-item-sliding>
   </ion-list>
  </ion-item>
</ion-content>
