<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>Login Page</ion-title>
  </ion-navbar>
</ion-header> -->



<!-- Login Content -->
<ion-content class="scroll-no">
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>JANJI BIMBINGAN ONLINE</strong> UMN
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="logInForm" (ngSubmit)="logIn()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="text" formControlName="emailText" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Kata Sandi
        </ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>

    <p text-right ion-text color="third" tappable (click)="forgotPass()"><strong>Lupa Kata Sandi ?</strong></p>

      <button ion-button icon-start block color="darkBlue" tappable type="submit" [disabled]="!logInForm.valid">
        <ion-icon name="log-in"></ion-icon>
        Masuk
      </button>
    </form>
    <div>
      <p text-center ion-text color="third">Tidak Punya Akun ?</p>
            <button ion-button color="danger" tappable block (click)="goRegistrationLecturer()">
                <div>Daftar sebagai Dosen</div>
            </button>
            <button ion-button color="danger" tappable block (click)="goRegistrationStudent()">
                <div>Daftar sebagai Mahasiswa</div>
            </button>
    </div>
  </div>
</ion-content>
</ion-content>
