<!--
  Generated template for the AddMhsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lecturer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
    <ion-list>
      <ion-item-sliding>
        <ion-item *ngFor="let mhs of listMhs" (click)="chooseType(mhs)">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <!-- <ion-img style="width: 40px; height: 40px;" src="assets/icon/user.png"></ion-img> -->
                  <img
                    style="width: 80px; height: 80px; border-radius: 50%;"
                    src="http://misaelazarya.com/Mobile2/Project/uploads/{{ mhs.picture }}"
                  >
                </ion-col>
                <ion-col col-8>
                  <h2>{{ mhs.name }}</h2>
                  <h2>{{ mhs.email }}</h2>
                  <h2>{{ mhs.nim }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <a ion-button block color="danger" (click)="backButton()">Kembali</a>
  <!-- <ion-item-group>
    <form>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Magang/Skripsi</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <button ion-button block round color='primary'>Submit</button>
    </form>
    <ion-row>
      <ion-col text-center>
          <button ion-button color="danger" (click)="closeModal(false)">Close</button>
      </ion-col>
    </ion-row>
  </ion-item-group> -->
</ion-content>
