<!--
  Generated template for the BoxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Input the Number</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
          Input The 4 Digits Number
        </ion-card-header>
        <ion-card-content>
          
          <form [formGroup]="BoxCodeForm" (ngSubmit)="BoxCodePage()">
          <ion-list no-line>
            <ion-item>
              <ion-input type='text' formControlName="NumberText" required placeholder="Code Number"></ion-input>
            </ion-item>
            
              <button ion-button block outline color="blue" type="submit" [disabled]="!BoxCodeForm.valid">Submit</button>
            
            </ion-list>
          </form>
        </ion-card-content>
      </ion-card>

</ion-content>
