<!-- <ion-header>
  <ion-navbar color="primary"> 
    <ion-title>Ganti Profil</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>Edit Profile</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->

<!-- Edit Profile Content -->
<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          Ganti Profil {{ user.type }}
        </h2>
      </div>
  
      <!-- Edit Profile form -->
      <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
        <ion-list no-lines *ngIf="user.type == 'Student'">
            <!-- <ion-item>
              <ion-label floating>
                <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                Email
              </ion-label>
              <ion-input type="text" formControlName="emailText" required value="{{ user.email }}"></ion-input>
            </ion-item> -->
            
            <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start class="text-primary"></ion-icon>
                Nama Lengkap
              </ion-label>
              <ion-input type="text" formControlName="name" required value="{{ user.name }}"></ion-input>
            </ion-item>
          
            <ion-item>
                <ion-label floating>
                  <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
                  NIM
                </ion-label>
                <ion-input type="text" formControlName="nim" required value="{{ user.nim }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="barcode" item-start class="text-primary"></ion-icon>
                Program Studi
              </ion-label>
              <ion-input type="text" formControlName="prodi" required value="{{ user.prodi }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="ribbon" item-start class="text-primary"></ion-icon>
                Angkatan
              </ion-label>
              <ion-input type="text" formControlName="angkatan" required value="{{ user.angkatan }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="camera" item-start class="text-primary"></ion-icon>
                Foto Profil
              </ion-label>
              <ion-input type="text" value="{{imageURI}}" disabled></ion-input>
            </ion-item>
          
            <ion-item>
              <a style="width:50%;" ion-button color="secondary" (click)="getImage()">Pilih Gambar</a>
              <a style="width:50%;" ion-button (click)="takePhoto()" >Ambil Gambar</a>
            </ion-item>
        </ion-list>

        <ion-list no-lines *ngIf="user.type == 'Lecturer'">
          <!-- <ion-item>
              <ion-label floating>
                <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                Email
              </ion-label>
              <ion-input type="text" formControlName="emailText" required value="{{ user.email }}"></ion-input>
            </ion-item> -->
              
            <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start class="text-primary"></ion-icon>
                Nama Lengkap
              </ion-label>
              <ion-input type="text" formControlName="name" required value="{{ user.name }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="camera" item-start class="text-primary"></ion-icon>
                Foto Profil
              </ion-label>
              <ion-input type="text" value="{{imageURI}}" disabled></ion-input>
            </ion-item>
          
            <ion-item>
                <a style="width:50%;" ion-button color="secondary" (click)="getImage()">Pilih Gambar</a>
                <a style="width:50%;" ion-button (click)="takePhoto()" >Ambil Gambar</a>
            </ion-item>
        </ion-list>
        <br>
        <button ion-button block color="darkBlue" type="submit" block outline [disabled]="!editProfileForm.valid">Kirim</button>
        <a ion-button block color="danger" (click)="backButton()">Kembali</a>
      </form>  
    </div>
  </ion-content>
  

