<!--
  Generated template for the StudentReqBimbinganPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Student</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-list>
    <ion-item text-center no-lines style="background: transparent">
      <h1>Permintaan Bimbingan</h1>
    </ion-item>
    
    <!-- <ion-item no-lines>
      <ion-calendar #calendar></ion-calendar>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item> -->
    
    <!-- <ion-item no-lines>
      <ion-label floating>Date and Time</ion-label>
      <ion-datetime float-start displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="reqDate"></ion-datetime>
    </ion-item> -->

    <ion-item no-lines style="background: transparent">
        <ion-label floating>Tanggal</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="reqDate"></ion-datetime>
      </ion-item>
      <ion-item no-lines style="background: transparent">
          <ion-label floating>Waktu</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="reqTime"></ion-datetime>
        </ion-item>

    
    <!-- <ion-item no-lines>
      <ion-label floating>Type</ion-label>
      <ion-input></ion-input>
    </ion-item> -->

    <ion-item no-lines style="background: transparent">
      <ion-label floating>Jenis Bimbingan</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="0">Magang</ion-option>
        <ion-option value="1">Skripsi</ion-option>
      </ion-select>
      </ion-item>
    
  </ion-list>
  <button ion-button full round (click)="sendRequest()">Kirim</button>
  <!-- <button ion-button full round color="danger">Cancel</button> -->
</ion-content>
