page-to-do-list {
    .bg{
        // background-image: url('../assets/imgs/logo-umn.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        background: url("../assets/imgs/bg-menu.jpg") no-repeat;
        background-size: cover;
    }
    .bg-color{
        background-color: white;
        background: transparent;
    }

}
.iconDone{
    color: green;

    font-size: 30pt !important;
}
.taskDone{
    text-decoration: line-through red;

    padding-top: 10px;
    padding-bottom: 10px;
}
.active{
    background: #488aff;
    color: white;
}