<ion-header>
  <ion-navbar color="primary">
    <ion-title>Student</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-item no-lines text-center class="bg-color">
    <h1>Daftar Tugas</h1>
  </ion-item>
  <!-- <div style="width:100%; margin-top: 20px; height: 30px;" color="dark">
      <button id="magang" class="active" style="font-size: 1.6rem; width: 49%;" (click)="onLoad('magang')">Magang</button>
      <button id="skripsi" style="font-size: 1.6rem; width: 49%;" (click)="onLoad('skripsi')">Skripsi</button>
  </div> -->
  <ion-item text-center class="bg-color">
    
  <ion-list>
    <div *ngIf="listTask != 'Error'">
      <ion-item-sliding *ngFor="let task of listTask">
        <ion-item no-lines>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <div no-padding>
                    <ion-icon
                      name="done-all"
                      *ngIf="task.status_done == 1"
                      class="iconDone"
                    ></ion-icon>
                  </div>
                </ion-col>
                <ion-col col-9>
                  <h2 *ngIf="task.status_done == 0">{{ task.description }}</h2>
                  <h2 *ngIf="task.status_done == 1" class="taskDone">
                    {{ task.description }}
                  </h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-item>
      </ion-item-sliding>
    </div>
    </ion-list>
  </ion-item>
  <!--
    <div class="tabbar" color="dark">
      <button id="magang" class="active" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('magang')">Magang</button>
      <button id="skripsi" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('skripsi')">Skripsi</button>
    </div>
  -->
</ion-content>

<div style="position: absolute; bottom: 50px;" class="tabbar" color="dark">
  <button
    id="magang"
    class="active"
    style="font-size: 1.6rem; width: 50%;"
    (click)="onLoad('magang')"
  >
    Magang
  </button>
  <button
    id="skripsi"
    style="font-size: 1.6rem; width: 50%;"
    (click)="onLoad('skripsi')"
  >
    Skripsi
  </button>
</div>
