<!--
  Generated template for the AddTaskLecturerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addTaskLecturer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="addTaskForm" (ngSubmit)="add()">
      <ion-list no-lines>
        <ion-item>
          <ion-label floating> Description </ion-label>
          <ion-input
            type="text"
            formControlName="desc"
            required
          ></ion-input>
        </ion-item>
  <!-- 
        <ion-item>
          <ion-label floating> Sort </ion-label>
          <ion-input
            type="text"
            formControlName="sort"
            required
          ></ion-input>
        </ion-item> -->
  
        <ion-item>
          <ion-label floating> Weight </ion-label>
          <ion-input
            type="text"
            formControlName="weight"
            required
          ></ion-input>
        </ion-item>
      </ion-list>
      <br />
      <button ion-button block type="submit" block outline [disabled]="!addTaskForm.valid">
        Submit
      </button>
      <a ion-button block color="danger" (click)="backButton()">Kembali</a>
    </form>
  </ion-content>
  