<ion-header>
  <ion-navbar> <ion-title>Settings</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <button ion-button full round (click)="goToEditProfile()">
      Edit Profile
    </button>
    <button ion-button full round (click)="goToChangePassword()">
      Change Password
    </button>
  </div>
</ion-content>
