<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lecturer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-item text-center style="background: transparent" no-lines>
    <h1>Permintaan Bimbingan</h1>
  </ion-item>
  
  <ion-list *ngIf="listRequest != undefined">
    <ion-item-sliding *ngFor="let request of listRequest; let i = index" (click)="showDetail(request, i)">
      <ion-item >
        <h2>{{ request.name }}</h2>
        <h2>{{request.start_time}}</h2>
        <h2>{{request.type}}</h2>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
