page-req-bimbingan {
    .bg{
        // background-image: url('../assets/imgs/logo-umn.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        background: url("../assets/imgs/bg-menu.jpg") no-repeat;
        background-size: cover;
    }

    .buttonCss {
        button.alert-button:nth-child(1){
          background-color: grgb(45, 172, 45) !important;
          color: green;
        }
    
        button.alert-button:nth-child(2){
          background-color: red !important;
          color: red;
        }
    }

    .btnAccept{
        background-color: grgb(45, 172, 45) !important;
    }
    .btnReject{
        background-color: red !important;
    }
}
