// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


// primary:    #488aff,
$colors: (
  primary:    #0086d6,
  secondary:  #32db64,
  third: #5b5ef4,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  facebook:   #3b5998,
  gmail: #c71610,
  darkBlue: #0039a2
);
$text-color: #4c6df9;
$background-color: rgb(219, 204, 204);
$sidemenu_color:#0086d6;
$sidemenu_content_color:#fff;
$header_color:#8835C3;


ion-item-sliding{
  background-color: #eeeeee !important;
}

ion-item-sliding .item{
  background-color: #eeeeee !important;
}

.buttonCss {
  button.alert-button:nth-child(1){
    background-color: #77ce77 !important;
    color: white;
  }

  button.alert-button:nth-child(2){
    background-color: #ce4646 !important;
    color: white;
  }
}

.content-ios {
  background-color: #eeeeee !important;
}

form .row{
  background-color: #eeeeee !important;
  margin-bottom: 10px;
  opacity: 0.9;
}

// .item-md {
//   background-color: #eeeeee !important;
// }

// $dark_sidemenu_color: #19152C;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
