<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lecturer</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-list>
    <ion-item text-center class="item-md" no-lines *ngIf="dosen != undefined">
      <img
        style="width: 80px; height: 80px; border-radius: 50%;"
        src="http://misaelazarya.com/Mobile2/Project/uploads/{{ dosen.picture }}"
      >
      <br />
      <br />
      <h2>{{ dosen.name }}</h2>
      <h2>{{ dosen.email }}</h2>
    </ion-item>

    <ion-item class="item-md" no-lines>
      <!-- <ion-calendar #calendar></ion-calendar> -->
      <div style="text-align:center;">
        <h1 ion-text>{{ viewTitle }}</h1>
      </div>
      <calendar
        [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30"
      >
      </calendar>
    </ion-item>
    <div padding>
      <!-- <button ion-button full round (click)="goToListJadwalPage()">Daftar Jadwal</button> -->
      <button ion-button full round (click)="goToListMhsPage()">
        Daftar Mahasiswa
      </button>
      <button ion-button full round (click)="goToReqBimbinganPage()">
        Permintaan Bimbingan
      </button>
      <button ion-button full round (click)="goToBankBimbingan()">
        Bank Bimbingan
      </button>
    </div>
  </ion-list>
</ion-content>
