<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>R - Student</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- Content -->
<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">
  
      <!-- Logo -->
      <div padding-vertical text-center class="animated fadeInDown">
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          <strong>Daftar sebagai Mahasiswa</strong>
        </h2>
      </div>
  
      <!-- SignUp form -->
      <form class="list-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Nama Lengkap
          </ion-label>
          <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
          <ion-input type="text" formControlName="emailText" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
            NIM
          </ion-label>
          <ion-input type="text" formControlName="nim" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="barcode" item-start class="text-primary"></ion-icon>
            Program Studi
          </ion-label>
          <ion-input type="text" formControlName="prodi" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="ribbon" item-start class="text-primary"></ion-icon>
            Angkatan
          </ion-label>
          <ion-input type="text" formControlName="angkatan" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Kata Sandi
          </ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="camera" item-start class="text-primary"></ion-icon>
            Foto Profil
          </ion-label>
          <ion-input type="text" value="{{imageURI}}" disabled></ion-input>
        </ion-item>
      
        <ion-item>
          <a style="width:50%;" ion-button color="secondary" (click)="getImage()">Pilih Gambar</a>
          <a style="width:50%;" ion-button (click)="takePhoto()" >Ambil Gambar</a>
        </ion-item>
  
        <div margin-top>
          <button ion-button block color="darkBlue" tappable type="submit" [disabled]="!signUpForm.valid">
            Daftar
          </button>
          <a ion-button block color="danger" (click)="backButton()">Kembali</a>
        </div>
        
      </form>
  
      <!-- Other links -->
      <div text-center margin-top margin-bottom>
          <span ion-text color="primary" tappable (click)="login()">Sudah Punya Akun ?<br>Klik Di Sini</span>
      </div>
    
    </div>
  </ion-content>