page-change-password, .login {
    .background{
		width: 100%;
		height: 100%;
		background: linear-gradient(100deg, #4E5EFC, #4EE7FC);
	}

	.scroll-content{
		text-align: center;
	}

	ion-card.card{
		background: rgba(232, 230, 230, 0.6px);
		border-radius: 10px;
	}

	.item{
		background: rgba(232, 230, 230, 0px);
	}

	ion-input{
		border-bottom: #FD4D73 solid 1px;
	}

	h1{
		color: #fff;
		font-size: 2em;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-weight: lighter;
	}

}
