<!-- <ion-header>
    hideBackButton="true"
  <ion-navbar color="primary">
    <ion-title>Ganti Kata Sandi</ion-title>
    <ion-buttons left>
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header> -->

  <!-- Change Password Content -->
  <ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          Ganti Kata Sandi
        </h2>
      </div>
  
      <!-- Edit Profile form -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <ion-list no-lines>
            <ion-item>
              <ion-label floating>
                <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                Email
              </ion-label>
              <ion-input type="text" formControlName="emailText" required></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label floating>
                <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                Kata sandi Baru
              </ion-label>
              <ion-input type="password" formControlName="NewPassword" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                Ulang Kata Sandi Baru
              </ion-label>
              <ion-input type="password" formControlName="RetypeNewPassword" required></ion-input>
            </ion-item>
          <br>
          <button ion-button block color="darkBlue" type="submit" block outline [disabled]="!changePasswordForm.valid">Kirim</button>
          <a ion-button block color="danger" (click)="backButton()">Kembali</a>
          </ion-list>
      </form>  
    </div>
  </ion-content>