<!-- <ion-menu [content]="sideMenuContent">
    <ion-header>
        <ion-toolbar text-center color="primary">
            <h2>Menu</h2>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="onLoad(settingsPage)">
                <ion-icon name="settings" item-left></ion-icon> Settings
            </button> 
            <button ion-item (click)="logout()" menuClose>
                <ion-icon name="log-out" item-left ></ion-icon> Log outs
            </button> 
        </ion-list>
    </ion-content>
</ion-menu> -->

<!-- untuk splash screen -->
<div *ngIf="showSplash" class="splash">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>


<!--Dark Side Menu Start-->
<ion-menu class="scroll-no" [content]="sideMenuContent" id="menu-dark">
    <ion-header lines class="sidemenuHeader">
        <ion-toolbar text-center>
            <ion-row style="justify-content: center;">
                <ion-col col-12>
                    <!-- <img class="user-avatar round" [src]="chosenPicture || placeholder" onerror="this.src='assets/imgs/jabline-logo.png'"/> -->
                    <img class="user-avatar round"
                        style="width: 80px; height: 80px; border-radius: 50%;"
                        src="http://misaelazarya.com/Mobile2/Project/uploads/{{ authService.picture }}"
                    >
                </ion-col>
            </ion-row>
            <ion-row style="justify-content: center; color: white">
                <h3>{{ authService.name }}</h3>
            </ion-row>
        </ion-toolbar>


       <!-- <ion-toolbar>
        <ion-item lines>
            <br>
          <ion-avatar item-left>
            <h2>UMN</h2>
          </ion-avatar>
            <img item-left
                style="width: 40px; height: 40px; border-radius: 50%;"
                src="http://misaelazarya.com/Mobile2/Project/uploads/{{ gambar }}"
            >
          <h2>Hallo, {{ nama }} !</h2>
          <p>Selamat Datang di J-B-O UMN App</p>
          <br>
        </ion-item>
      </ion-toolbar> -->
    </ion-header>

    <ion-content scroll="false" class="menu">
      <ion-list>
        <!-- <button menuClose="left" ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>  {{p.title}}
        </button> -->
        <button ion-item (click)="onLoad(editProfilePage)">
            <ion-icon name="contact" item-left></ion-icon>Ganti Profil
        </button>
        <button ion-item (click)="onLoad(changePasswordPage)">
            <ion-icon name="lock" item-left></ion-icon>Ganti Kata Sandi
            </button>
        <button ion-item (click)="logout()" menuClose>
            <ion-icon name="log-out" item-left ></ion-icon>Keluar
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
<!-- Dark Side Menu End -->
      
<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
      