<ion-header>
  <ion-navbar color="primary">
    <ion-title>Student</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-item text-center class="item-md" no-lines *ngIf="user != undefined">
    <img
      style="width: 80px; height: 80px; border-radius: 50%;"
      src="http://misaelazarya.com/Mobile2/Project/uploads/{{ user.picture }}"
    >
    <br />
    <br />
    <h2>{{ user.name }}</h2>
    <h2>{{ user.nim }}</h2>
    <h2>{{ user.email }}</h2>
  </ion-item>

  <ion-item no-lines style="background: transparent">
    <h2 text-center>Progress</h2>
    <progress-bar *ngIf="numProgress == undefined"[progress]="0" [color]="'#488aff'">
    </progress-bar>
    <progress-bar *ngIf="numProgress != undefined" [progress]="numProgress" [color]="'#0039a2'"> </progress-bar>
  </ion-item>
  <ion-item no-lines style="background: transparent">
    <ion-list>
      <ion-item-sliding *ngFor="let schedule of scheduleMahasiswa" (click)="showDetail(schedule)">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2>{{ schedule.start_time }}</h2>
              </ion-col>
              <ion-col>
                <h2 text-right>{{ schedule.type }}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-item>
  
    <!-- <ion-list>
      <ion-item text-center>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <h2 style="font-weight: bold">Tanggal</h2>
            </ion-col>
            <ion-col col-4>
              <h2 style="font-weight: bold">Waktu</h2>
            </ion-col>
            <ion-col col-4>
              <h2 style="font-weight: bold">Status</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding>
        <ion-item text-center>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <h2>14/03/2018</h2>
                </ion-col>
                <ion-col col-4>
                  <h2>17:00</h2>
                </ion-col>
                <ion-col col-4>
                  <h2>Pending</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>
      </ion-item-sliding>
    </ion-list> -->
  

  

</ion-content>
