page-form-bimbingan {
    .col{
        background: white;
        border: 1px solid black;
    }

    .text-line{
        word-wrap: break-word;
        word-break: break-all;
        height: auto;
    }

    .bg{
        // background-image: url('../assets/imgs/logo-umn.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        background: url("../assets/imgs/bg.jpg") no-repeat;
        background-size: cover;
    }
}
