<!--
  Generated template for the FormBimbinganPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lecturer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-item text-center style="background: transparent;">
    <h1>Formulir Bimbingan</h1>
    <br>
  </ion-item>
  <ion-grid class="col" style="background: transparent;">
    <ion-row>
      <ion-col col-2 col-sm text-center>No</ion-col>
      <ion-col col-4 col-sm text-center>Tanggal</ion-col>
      <ion-col col-6 col-sm text-center>Deskripsi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 col-sm text-center>1</ion-col>
      <ion-col col-4 col-sm><ion-datetime float-start displayFormat="MMM DD, YYYY" placeholder="Date"></ion-datetime></ion-col>
      <ion-col col-6 col-sm><ion-textarea class="text-line" placeholder="deskripsi"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 col-sm text-center>2</ion-col>
      <ion-col col-4 col-sm><ion-datetime float-start displayFormat="MMM DD, YYYY" placeholder="Date"></ion-datetime></ion-col>
      <ion-col col-6 col-sm><ion-textarea class="text-line" placeholder="deskripsi"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 col-sm text-center>3</ion-col>
      <ion-col col-4 col-sm><ion-datetime float-start displayFormat="MMM DD, YYYY" placeholder="Date"></ion-datetime></ion-col>
      <ion-col col-6 col-sm><ion-textarea class="text-line" placeholder="deskripsi"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 col-sm text-center>4</ion-col>
      <ion-col col-4 col-sm><ion-datetime float-start displayFormat="MMM DD, YYYY" placeholder="Date"></ion-datetime></ion-col>
      <ion-col col-6 col-sm><ion-textarea class="text-line" placeholder="deskripsi"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 col-sm text-center>5</ion-col>
      <ion-col col-4 col-sm><ion-datetime float-start displayFormat="MMM DD, YYYY" placeholder="Date"></ion-datetime></ion-col>
      <ion-col col-6 col-sm><ion-textarea class="text-line" placeholder="deskripsi"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 col-sm text-center>6</ion-col>
      <ion-col col-4 col-sm><ion-datetime float-start displayFormat="MMM DD, YYYY" placeholder="Date"></ion-datetime></ion-col>
      <ion-col col-6 col-sm><ion-textarea class="text-line" placeholder="deskripsi"></ion-textarea></ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <br>
    <button ion-button full round>Save</button>
  </div>
</ion-content>
