<ion-header>
  <ion-navbar color="primary"> <ion-title>Lecturer</ion-title> </ion-navbar>
</ion-header>

<ion-content padding class="bg" style="padding-bottom: 50px;">
  <ion-item text-center style="background: transparent;" no-lines>
    <h1 ion-text class="text-primary">Bank Bimbingan</h1>
    <br>
  </ion-item>
  <ion-fab bottom right>
    <button ion-fab large (click)="presentAddModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-row class="bg-color">
      <ion-col col-4>
        <ion-label style="font-size: 18px">Deskripsi</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-item text-right no-lines>
          <ion-label>Urutan</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-4>
          <ion-item text-right no-lines>
            <ion-label>Bobot</ion-label>
          </ion-item>
        </ion-col>
    </ion-row>
  <ion-list *ngIf="isMagang">
  <form>
    <ion-row class="bg-color" *ngFor="let task of listMhsMagang; let i = index" (click)="editTask(task, i)">
      <ion-col col-4>
        <ion-label>{{ task.description }}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-input class="input-bimbingan" value="{{ i+1 }}" text-center></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-input class="input-bimbingan" value="{{ task.weight }}" text-center></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
  </ion-list>

  <ion-list *ngIf="!isMagang">
  <form>
    <ion-row *ngFor="let task of listMhsSkripsi; let i = index" (click)="editTask(task, i)">
      <ion-col col-4>
        <ion-label>{{ task.description }}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-item style="background: transparent">
          <ion-input class="input-bimbingan" value="{{ i+1 }}" text-center></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item style="background: transparent">
          <ion-input class="input-bimbingan" value="{{ task.weight }}" text-center></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
  </ion-list>
  <div style="height: 50px;"></div>
</ion-content>
<div class="tabbar" color="dark">
  <button id="magang" class="active" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('magang')">Magang</button>
  <button id="skripsi" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('skripsi')">Skripsi</button>
</div>
