page-bank-bimbingan {
    .bg{
        // background-image: url('../assets/imgs/logo-umn.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        background: url("../assets/imgs/bg-menu.jpg") no-repeat;
        background-size: cover;
    }

    .bg-color{
        background-color: #eeeeee;
    }
}

.input-bimbingan{
    border: 1px solid black;
    
    display: block;

    padding-left: 10px;
}
