page-info-mhs {
    .bg{
        // background-image: url('../assets/imgs/logo-umn.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        background: url("../assets/imgs/bg.jpg") no-repeat;
        background-size: cover;
    }
}
