<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lecturer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg" >
  <ion-item text-center style="background: transparent" no-lines>
    <ion-img style="width: 80px; height: 80px;" src="assets/icon/user.png"></ion-img>
    <br>
    <br>
    <h2>{{ mhs.name }}</h2>
    <h2>{{ mhs.nim }} </h2>
    <h2>{{ mhs.email }} </h2>
  </ion-item>
  <ion-item style="background: transparent" no-lines>
    <h2 text-center>Progress</h2>
    <progress-bar *ngIf="numProgress == undefined"[progress]="0" [color]="'#488aff'">
    </progress-bar>
    <progress-bar *ngIf="numProgress != undefined"[progress]="numProgress" [color]="'#488aff'">
    </progress-bar>
  </ion-item>
  <div padding>
    <button ion-button full round (click)="goToToDoListPage()">Daftar Tugas</button>
    <!-- <button ion-button full round (click)="goToFormBimbingan()">Formulir Bimbingan</button> -->
  </div>
</ion-content>
