<ion-header>
  <ion-navbar color="primary"> <ion-title>Lecturer</ion-title> </ion-navbar>
</ion-header>

<ion-content padding class="bg">
<ion-item text-center style="background: transparent" no-lines> <h1>Daftar Tugas</h1> </ion-item>
<ion-item text-center style="background: transparent" no-lines>
    <ion-list *ngIf="!isMagang">
      <ion-item-sliding *ngFor="let task of listMhsMagang; let idx = index">
        <ion-item>
          <ion-card-content>
            <ion-grid>
              <ion-row (click)="setStatus(task, idx)">
                <ion-col col-3 *ngIf="task != undefined">
                  <div no-padding><ion-icon name="done-all" *ngIf="task.status_done == 1" class="iconDone"></ion-icon></div>
                </ion-col>
                <ion-col col-9 *ngIf="task != undefined">
                  <h2 *ngIf="task.status_done == 0">{{ task.description }}</h2>
                  <h2 *ngIf="task.status_done == 1" class="taskDone">
                    {{ task.description }}
                  </h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="removeTask(task, idx)" color="danger">
            <ion-icon name="trash"></ion-icon>
            Hapus
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="isMagang">
      <ion-item-sliding *ngFor="let task of listMhsSkripsi; let idx = index">
        <ion-item>
          <ion-card-content>
            <ion-grid>
              <ion-row *ngIf="task != undefined" (click)="setStatus(task, idx)">
                <ion-col col-3>
                  <div no-padding><ion-icon name="done-all" *ngIf="task.status_done == 1" class="iconDone"></ion-icon></div>
                </ion-col>
                <ion-col col-9 *ngIf="task != undefined">
                  <h2 *ngIf="task.status_done == 0">{{ task.description }}</h2>
                  <h2 *ngIf="task.status_done == 1" class="taskDone">
                    {{ task.description }}
                  </h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="removeTask(task, idx)" color="danger">
            <ion-icon name="trash"></ion-icon>
            Hapus
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-item>
  <!-- <div class="tabbar" style="position: fixed" bottom color="dark">
    <button id="magang" class="active" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('magang')">Magang</button>
    <button id="skripsi" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('skripsi')">Skripsi</button>
  </div> -->
  <ion-fab bottom right>
    <button ion-fab (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<div class="tabbar" color="dark">
  <button id="magang" class="active" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('magang')">Magang</button>
  <button id="skripsi" style="font-size: 1.6rem; width: 50%;" (click)="onLoad('skripsi')">Skripsi</button>
</div>
