<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Edit Task</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <form [formGroup]="editTaskForm" (ngSubmit)="editTask()" *ngIf="task != undefined">
    <ion-list no-lines >
      <ion-item>
        <ion-label floating> Description </ion-label>
        <ion-input
          type="text"
          formControlName="desc"
          required
          value="{{ task.description }}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating> Sort </ion-label>
        <ion-input
          type="text"
          formControlName="sort"
          required
          value="{{ task.sort }}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating> Weight </ion-label>
        <ion-input
          type="text"
          formControlName="weight"
          required
          value="{{ task.weight }}"
        ></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <button
      ion-button
      block
      type="submit"
      block
      outline
      [disabled]="!editTaskForm.valid"
    >
      Kirim
    </button>
    <a ion-button block color="danger" (click)="dismiss()">Kembali</a>
  </form>
</ion-content>
