<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Tambah</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg">
  <form [formGroup]="addTaskForm" (ngSubmit)="add()">
    <ion-list no-lines>
      <ion-item class="bg-2">
        <ion-label floating> Deskripsi </ion-label>
        <ion-input
          type="text"
          formControlName="desc"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="bg-2">
        <ion-label floating> Bobot </ion-label>
        <ion-input
          type="text"
          formControlName="weight"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines style="background: transparent">
        <ion-label floating>Jenis Bimbingan</ion-label>
        <ion-select formControlName="type">
          <ion-option value="0">Magang</ion-option>
          <ion-option value="1">Skripsi</ion-option>
        </ion-select>
        </ion-item>
    </ion-list>
    <br />
    <button ion-button block type="submit" block outline [disabled]="!addTaskForm.valid">
      Kirim
    </button>
    <a ion-button block color="danger" (click)="backButton()">Kembali</a>
  </form>
</ion-content>
