page-list-mhs {
    .bg{
        // background-image: url('../assets/imgs/logo-umn.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        background: url("../assets/imgs/bg-menu.jpg") no-repeat;
        background-size: cover;
    }

    .bg-color{
        background-color: #eeeeee;
        background: transparent;
    }
}

.tab-row{
    border-bottom: 1px solid black;
}

.tab-magang{
    border-right: 1px solid black;
}

.tab-col{
    font-weight: bold;

    color: black;
}
.active{
    background: #488aff;
    color: white;
}

ion-fab[bottom] {
    bottom: 60px;
}

.tabbar {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // height: auto;
    height: 50px;
    visibility: visible;
    opacity: 1;
  }

  ion-item-sliding{
    margin-bottom: 10px;
    border: 1px solid black;
    opacity: 0.85;
  }

  .item-ios{
    background-color: #eeeeee;
  }
  