<ion-header>
  <ion-navbar color="primary"> <ion-title>Lecturer</ion-title> </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-item text-center style="background: transparent">
    <h1>Daftar Mahasiswa</h1>
    <br />
    <ion-searchbar
      [(ngModel)]="searchTerm"
      [formControl]="searchControl"
      (ionInput)="setFilteredItems()"
    ></ion-searchbar>
    <br />

    <!--
      <br />

      <ion-row class="tab-row">
        <ion-col
          text-center
          id="magang"
          class="tab-col tab-magang active"
          (click)="onLoad('magang')"
          >Magang</ion-col
        >
        <ion-col
          text-center
          id="skripsi"
          class="tab-col tab-skripsi"
          (click)="onLoad('skripsi')"
          >Skripsi</ion-col
        >
      </ion-row>
      <br />
    -->

    <ion-list *ngIf="isMagang">
      <ion-item-sliding *ngFor="let mhs of listMhsMagang">
        <ion-item>
          <ion-card-content class="bg-color">
            <ion-grid>
              <ion-row (click)="detailMhs(mhs)">
                <ion-col col-4>
                  <!--
                    <ion-img
                      style="width: 40px; height: 40px;"
                      src="assets/icon/user.png"
                    ></ion-img>
                  -->
                  <img
                    style="width: 40px; height: 40px; border-radius: 50%;"
                    src="http://misaelazarya.com/Mobile2/Project/uploads/{{ mhs.picture }}"
                  />
                </ion-col>
                <ion-col col-8>
                  <h2>{{ mhs.name }}</h2>
                  <h2>{{ mhs.email }}</h2>
                  <h2>{{ mhs.nim }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="removeMahasiswa(mhs)" color="danger">
            <ion-icon name="trash"></ion-icon>
            Hapus
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="!isMagang">
      <ion-item-sliding
        class="listMhs"
        style="margin-bottom: 10px;"
        *ngFor="let mhs of listMhsSkripsi"
      >
        <ion-item>
          <ion-card-content>
            <ion-grid>
              <ion-row (click)="detailMhs(mhs)">
                <ion-col col-4>
                  <!--
                    <ion-img
                      style="width: 40px; height: 40px;"
                      src="assets/icon/user.png"
                    ></ion-img>
                  -->
                  <img
                    style="width: 40px; height: 40px; border-radius: 50%;"
                    src="http://misaelazarya.com/Mobile2/Project/uploads/{{ mhs.picture }}"
                  />
                </ion-col>
                <ion-col col-8>
                  <h2>{{ mhs.name }}</h2>
                  <h2>{{ mhs.email }}</h2>
                  <h2>{{ mhs.nim }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="removeMahasiswa(mhs)" color="danger">
            <ion-icon name="trash"></ion-icon>
            Hapus
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-item>
  <!--
    <div class="tabbar">
      <ion-tabs bottom tabs-only tabsLayout="icon-start" color="dark">
        <ion-tab tabTitle="Magang" (click)="onLoad('magang')"></ion-tab>
        <ion-tab tabTitle="Skripsi" (click)="onLoad('skripsi')"></ion-tab>
      </ion-tabs>
    </div>
  -->
  <ion-fab bottom right>
    <button ion-fab (click)="addMhs()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <div style="height: 50px;"></div>
</ion-content>

<div class="tabbar" color="dark">
  <button
    id="magang"
    class="active"
    style="font-size: 1.6rem; width: 50%;"
    (click)="onLoad('magang')"
  >
    Magang
  </button>
  <button
    id="skripsi"
    style="font-size: 1.6rem; width: 50%;"
    (click)="onLoad('skripsi')"
  >
    Skripsi
  </button>
</div>
