<!--
  Generated template for the ForgetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lupa Kata Sandi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-image">
    <ion-card class="bg">
      <ion-card-header>
         Masukkan email untuk mendapatkan kata sandi baru 
      </ion-card-header>
      <ion-card-content>    
        <form [formGroup]="ForgetpasswordForm" (ngSubmit)="forgetpassword()" >
          <ion-list no-line>
            <ion-item class="bg">
              <ion-input type='text' formControlName="emailtext" required placeholder="Email"></ion-input>
            </ion-item>
            <button ion-button block outline color="blue" type="submit" [disabled]="!ForgetpasswordForm.valid">Kirim</button>
            <a ion-button block color="danger" (click)="backButton()">Kembali</a>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
