page-registration-lecturer, .register {

	// .background{
	// 	width: 100%;
	// 	height: 100%;
	// 	background: linear-gradient(100deg, #4E5EFC, #4EE7FC);
	// }

	// .scroll-content{
	// 	text-align: center;
	// }

	// ion-card.card{
	// 	background: rgba(232, 230, 230, 0.6px);
	// 	border-radius: 10px;
	// }

	// .item{
	// 	background: rgba(232, 230, 230, 0px);
	// }

	ion-input{
		border-bottom: #0039a2 solid 1px;
	}

	// h1{
	// 	color: #fff;
	// 	font-size: 2em;
	// 	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	// 	font-weight: lighter;
	// }
	
    // .background {
    //     // background-image: url('../assets/bg.jpg');
    //     background-color: dodgerblue;
	// }

	// .scroll-content {
	// 	align-content: center;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	text-align: center;
	// }

	// ion-card.card {
	// 	box-shadow: none;
	// 	background: rgba(0, 0, 0, 0.5);
	// 	border-radius: 5px;
	// }

	// a, p,
	// ion-card-header.card-header {
	// 	color: #fff!important;
	// }

	// .list > .item-block:first-child {
	// 	border: medium none;
	// }

	// .item {
	// 	margin-bottom: 10px;
	// 	background: rgba(255, 255, 255, 0.5);
	// 	border: medium none;

	// 	.text-input, {
	// 		color: #fff;
	// 	}

	// 	input::-moz-placeholder  {
	// 		color: #fff!important;
	// 	}

	// 	input:-moz-placeholder {
	// 		color: #fff!important;
	// 	}

	// 	*::-webkit-input-placeholder  {
	// 		color: #fff!important;
	// 	}

	// 	*:-ms-input-placeholder  {
	// 		color: #fff!important;
	// 	}

	// 	*:-moz-placeholder  {
	// 		color: #fff!important;
	// 	}
	// }

	// .icon {
	// 	padding-right: 10px;
	// }

	// .bottom {
	// 	position: absolute;
	// 	bottom: 0;
    // }
    
	// .left {
    //     text-align: center;
    //     float: center;
    //     margin-bottom: 10pt;
	// }

}
