<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>R - Lecturer</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- Content -->
<ion-content padding class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Daftar sebagai Dosen</strong>
      </h2>
    </div>

    <!-- SignUp form -->
    <form class="list-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nama Lengkap
        </ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="text" formControlName="emailText" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Kata sandi
        </ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="camera" item-start class="text-primary"></ion-icon>
          Foto Profil
        </ion-label>
        <ion-input type="text" value="{{imageURI}}" disabled></ion-input>
      </ion-item>
    
      <ion-item>
        <a style="width:50%;" ion-button color="secondary" (click)="getImage()">Pilih Gambar</a>
        <a style="width:50%;" ion-button (click)="takePhoto()" >Ambil Gambar</a>
      </ion-item>

      <div margin-top>
        <button ion-button block color="darkBlue" tappable type="submit" [disabled]="!signUpForm.valid">
          Daftar
        </button>
        <a ion-button block color="danger" (click)="backButton()">Kembali</a>
      </div>
    </form>

    <!-- <ion-item>
      <button ion-button (click)="upload()">Upload</button>
    </ion-item> -->


    <!-- Other links -->
    <div text-center margin-top>
        <span ion-text color="primary" tappable (click)="login()">Sudah Punya Akun ?<br>Klik Di Sini</span>
        <br>
    </div>
  
  </div>
</ion-content>